html {
    background-image: url(https://wallpapercave.com/wp/wp2090574.jpg);
    background-size: cover;
}

html,
body {
    height: 100%;
}

body {
    background-color: slategrey;
    margin: 0 auto;
    max-width: 70%;
    align-content: start;
}

.item1 {
    text-decoration: black underline;
    padding: 24px;
    width: auto;
    height: 25%;
}

.item2 {
    text-decoration: black underline;
    padding: 24px;
    width: auto;
    height: 25%;
    text-underline-offset: 0.3em;
}

.item3 {
    text-decoration: black underline;
    padding: 22px;
    width: auto;
    height: 25%;
    text-underline-offset: 0.3em;
}

.item4 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#price {
    text-decoration: underline pink;
    color: #EFE3D0;
    font-size: 36px;
    text-underline-offset: 0.1em;
    margin-bottom: 54px;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-content: space-around;
}

.start {
    display: flex;
    border-bottom: #EFE3D0 solid;
    justify-content: space-between;
    background-color: slategray;
    padding-right: 12px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    display: flex;
    font-size: 48px;
    padding-left: 6px;
    text-decoration: wavy pink 4px;
    text-underline-offset: 0.3em;
    text-decoration-line: underline;
    margin: 14px;
    align-items: start;
    flex-direction: column;
}

/* button edits */

button {
    display: flex;
    color: brown;
    border-radius: 10px;
    background-color: pink;
}

#add-tie {
    margin-top: 40px;
}

#add-shirt {
    margin-top: 96px;
}

#add-coatslack {
    margin-top: 94px;
}

#add-shoes {
    margin-top: 82px;
}

/* emblem edits */

#shopping-cart {
    height: 48px;
    width: auto;
    margin: 8px;
}

#suit {
    height: 78px;
}

#tie,
#shirt,
#coatslack,
#shoes {
    height: 96px;
    border-radius: 24px;
}